.selected-tab {
  color: #fec653;
  height: 35px;
  width: 60px;
  border: 0;
  border-bottom: 2px solid #fec653;
  background-color: transparent;
  font-size: 17px;
  margin: 10px;
}

.unselected-tab {
  color: white;
  height: 35px;
  width: 60px;
  border: 0;
  background-color: transparent;
  font-size: 17px;
  margin: 10px;
}
